{% extends "layout.html"%}

{% block body %}


<div class="jumbotron">
    
    {% if request.user.is_authenticated %}
    <h1 class="display-4">Merhaba, {{ request.user.username}}</h1>
    <p class="lead">Paylaşım yapman için sabırsızlanıyoruz :)</p>
    <hr class="my-4">
    {% else %}
    <h1 class="display-4">Merhaba, Öğrenci topluluğu sitemize hoşgeldiniz.</h1>
    <p class="lead">Sitemize üye olup topluluklarla ilgili paylaşımlarda bulunabilirsiniz.</p>
    <hr class="my-4">
    <p>Hala üye değil misiniz? Hemen üye olun!</p>
    <a class="btn btn-primary btn-lg" href="user/register" role="button">Kayıt Ol</a>
    {% endif %}
  </div>

{% endblock body %}